.about-me {
  margin-top: 130px;
  padding: 10px 0px 10px 0px;
  background-color: #00000022;
}

.about-me-container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-me-image {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border: 3px solid #5998c5;
  border-radius: 9999px;
}

.about-me-text {
  width: 400px;
  padding: 0px 0px 0px auto;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
