.footer {
  width: 100vw;
  height: 230px;
  margin-top: 70px;
  background-color: #5998c5;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer > div {
  padding-top: 10px;
}

.footer > h1 {
  color: white;
}
